.article{
	padding:0 1.8rem;
	overflow: hidden;
}

.article—control{
	width:100%;
	font-size:0.8rem;
	border-top: 0.05rem solid cyan;
	border-bottom: 0.05rem solid cyan;
	margin-top:1.5rem;
}
.article—control a{
	width:23rem;
	height: 3.0rem;
	font-size:0.8rem;
	overflow: hidden;
	line-height: 3.0rem;
}


.article—control a.titlefl{
	float: left;
	text-align: left;
}
.article—control a.titlefr{
	float: right;
	text-align: right;
}

@media screen and (min-width:1024px){


}

@media screen and (max-width:1024px){

}

@media screen and (max-width:768px){
	.article{
		padding:0 0.8rem;
	}

}