footer{
	padding:0 1.8rem;
}
footer .blank_con{
	height:4.0rem;
	width: 100%;
}
footer .footer-con{
	border-top:0.05rem solid #000;
	position:relative;

}
footer .footer-con .site-info{
	margin-top: 1.0rem;
	display:inline-block;
	width:20.0rem;
	height:2.0rem;
	text-align: center;
	position:absolute;
	left:50%;
	top:0;
	margin-left:-10.0rem;
	font-size:0.7rem;
	font-family: "Microsoft Yahei";
}
@media screen and (min-width:1024px){

}

@media screen and (max-width:1024px){

}

@media screen and (max-width:768px){
	footer{
		padding:0 0.8rem;
	}
}