.link{
	padding:0 1.8rem;
}
.link h2{
	font-size:1.8rem;
	line-height:4.0rem;
	text-indent:0.5rem;
}
.link ul li{
	font-size:0.8rem;
	line-height:1.4rem;
}
.link ul li span{
	font-size:0.7rem;
	line-height:1.4rem;
	color:#999;
}

@media screen and (min-width:1024px){


}

@media screen and (max-width:1024px){

}

@media screen and (max-width:768px){
	.link{
		padding:0 0.8rem;
	}
}