{% extends 'base_article.html' %}
{% load staticfiles %}

{% block title %}{{ page.title }}
{% endblock title %}


{% block article %}
    {{ page.title }}

    {%autoescape off%}
    {{ page.Abstract }}

    {{ page.body }}
    {%endautoescape%}
    <div class="article—control clearfix">
        {% if ident_page %}
            <a href="{% url 'article:article' ident_page.id %}" class="titlefl">&lt;&lt;{{ ident_page.title }}</a>
        {% endif %}
        {% if prev_page %}
            <a href="{% url 'article:article' prev_page.id %}" class="titlefr">{{ prev_page.title }}&gt;&gt;</a>
        {% endif %}

    </div>



{% endblock article %}