{% load staticfiles %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="icon" href="{% static 'images/favicon/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    {% block topfiles %}{% endblock topfiles %}

</head>
<body>
    <nav class="nav clearfix">

        <div class="logo">
            <a class="logo" href="{% url 'home:index' %}">
                <img src="{% static 'images/logo.png' %}" alt="logo">
            </a>
            <h4>小喻的博客</h4>
            <a href="{% url 'home:index' %}">
                <span class="icon iconfont icon-daohang"></span>
            </a>
        </div>

        <ul class="side-menu">
            <li>
                <a class="" href="{% url 'home:index' %}" title="主页">
                    <span class="icon iconfont icon-zhuye"></span>
                    <span class="menu-name">主页</span>
                </a>
            </li>
            <li>
                <a class="" href="{% url 'home:archives' %}" title="归档">
                    <span class="icon iconfont icon-guidangxiangmu"></span>
                    <span  class="menu-name">归档</span>
                </a>
            </li>
            <li>
                <a class="" href="{% url 'home:link' %}" title="链接">
                    <span class="icon iconfont icon-lianjie"></span>
                    <span  class="menu-name">链接</span>
                </a>
            </li>
            <li>
                <a class="" href="#" title="标签">
                    <span class="icon iconfont icon-biaoqian"></span>
                    <span  class="menu-name">标签</span>
                </a>
            </li>
            <li>
                <a class="" href="{% url 'home:about' %}" title="关于">
                    <span class="icon iconfont icon-yonghu"></span>
                    <span  class="menu-name">关于</span>
                </a>
            </li>
        </ul>

        <ul class="side-menu">
            <li class="contact">

                <a class="inline" rel="nofollow" target="_blank" href="https://www.github.com" title="访问博主的GitHub">
                    <span class="icon iconfont icon-github"></span>
                </a>
                <a class="inline" rel="nofollow" target="_blank" href="https://weibo.com/5283316031/" title="访问博主的Weibo">
                    <span class="icon iconfont icon-7"></span>
                </a>
                <a class="inline" rel="nofollow" href="mailto: yj@21cn.com"  title="发送邮件给博主">
                    <span class="icon iconfont icon-youxiang"></span>
                </a>
                <a class="inline" rel="nofollow" href="#" title="订阅博主">
                    <span class="icon iconfont icon-rss"></span>
                </a>



            </li>
        </ul>

    </nav>

    <div id="main">
        <section>
            {% block section %}
            {% endblock section %}
        </section>

        <footer class="clearfix">
            <div class="blank_con">
                <br/>

            </div>
            <div class="footer-con">
                <p class="site-info">
                Copyright © 2019 XiaoYu, All Rights Reserved
                </p>
            </div>
        </footer>
    </div>
</body>
</html>